body {
  font-family: Arial, sans-serif;
  height: 100vh;
  /* background: url('/gambar/bg2.jpeg') no-repeat center center fixed; */
  background: url("/gambar2/gambar2.gif") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.top h2 {
  margin: 0;
  margin-bottom: 20px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}
.logimage img {
  max-width: 300px;
  height: 30vh;
  margin-bottom: 20px;
}
.login-container {
  height: 40vh;
  width: 300px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.input-group {
  width: 100%;
  margin: 10px 0;
  margin: 0;
  display: grid;
  gap: 16px;
  margin-bottom: 10px;
}
.input-group input {
  border-radius: 25px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding-left: 10px;
}
.input-group a {
  text-decoration: none;
  text-align: left;
  font-size: 12px;
  color: grey;
  margin-bottom: 10px;
}
button {
  height: 40px;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  border: 0;
  font-weight: 600;
  color: white;
  transition: all 0.3s;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  transition: background-position 0.5s ease;
  background-size: 500% 400%;
}
button:hover{
  transition: all 0.3s ease-in-out;
  background-position: 100%;
}
.flipgambar{
  animation: flip 4s ease-in-out infinite;
}

@keyframes flip{
  0% {
    transform: rotateY(0deg);
  }
  50%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

.error-message {
  color: black;
  margin-top: 10px;
  font-size: 12px;
}
